#banner{
    height: 95vh;
    background-image: url("https://images.pexels.com/photos/1256875/pexels-photo-1256875.jpeg");
    background-size: 200%;
    background-position: center;
}
#item-image{
    height: 100%;
    width: 100%;
    display: block;
}
#element-container{
    height:95vh;
    overflow: auto;
}

#element-container::-webkit-scrollbar{
    display: none;
}